{% import "../../shared/banner/banner.twig" as banner %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{banner.render(bannerSection1.banner1)}}
      </div>
    </div>
  </div>
</section>



