{% macro render() %}
  <!--Card-Cart-->

    <tr class="card-cart">
      <td class="card-cart__content">
        <img src="../../img/card-cart1.png" alt="">
        <div class="card-cart__name">
          <div class="card-cart__title">Boxy Denim Jacket</div>
          <p>Color: Light Blue</p>
          <a href="#">Remove</a>
        </div>
      </td>
      <td><p class="card-cart__price">$17.00</p></td>
      <td>
        <div class="card-cart__quantity">
          <button class="card-cart__sub">-</button>
          <input type="text" class="card-cart__value" value="1"/>
          <button class="card-cart__add">+</button>
        </div>
      </td>
      <td>
        <p class="card-cart__total">$17.00</p>
      </td>
    </tr>
  <!--End / Card-Cart-->
{% endmacro %}
