{% macro render() %}
  <!--Card-Cart-->
  <table>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    <tr>
      <td>
        <img src="../../img/card-cart1.png" alt="">
      </td>
      <td>
        <div class="card-cart__name">
          <h3 class="card-cart__title">Boxy Denim Jacket</h3>
          <p>Color: Light Blue</p>
          <a href="#">Remove</a>
        </div>
      </td>
      <td><p class="card-cart__price">$17.00</p></td>
      <td>
        <div class="card-cart__quantity">
          <button class="card-cart__sub">-</button>
          <input type="text" class="card-cart__value">
          <button class="card-cart__add">+</button>
        </div>
      </td>
      <td>
        <p class="card-cart__total">$17.00</p>
      </td>
    </tr>
  </table>
	<div class="card-cart">





	</div>
  <!--End / Card-Cart-->
{% endmacro %}
