{% macro render(data) %}
  <!--Trend-->
  <div class="trend">
    <img class="trend__img" src={{data.srcImg}} alt="trend">
    <div class="trend__content--{{data.type}}">
      <div>{{data.name}}</div>
    </div>
  </div>
  <!--End / Trend-->
{% endmacro %}
