{% macro render(data) %}
  <!--Product Box-->
  <div class="product-box">
    <div class="product-box__search">
      <h2>Search</h2>
      <div class="product-box__box__search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search">
      </div>
    </div>
    <div class="product-box__refine">
      <h2>Refine By</h2>
      <div class="product-box__box-refine">
        Yellow
        <i class="fas fa-times"></i>
      </div>
      <div class="product-box__box-refine">
        Hat
        <i class="fas fa-times"></i>
      </div>
      <div class="product-box__box-refine">
        XS
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="product-box__category">
      <h2>Categories</h2>
      <ul>
        <li><a href="#">Áo</a></li>
        <li><a href="#">Áo</a></li>
        <li><a href="#">Áo</a></li>
        <li><a href="#">Áo</a></li>
        <li><a href="#">Áo</a></li>
      </ul>
    </div>
    <div class="product-box__color">
      <h2>Màu sắc</h2>
      <div class="circle--yellow"></div>
      <div class="circle--blue"></div>
      <div class="circle--violet"></div>
    </div>
    <div class="product-box__size">
      <h2>Size</h2>
      <div class="product-box__content-size">
        <div class="size">XS</div>
        <div class="size">S</div>
        <div class="size">M</div>
        <div class="size">L</div>
        <div class="size">XL</div>
      </div>
    </div>
    <div class="product-box__filter">
      <h2>Filter</h2>
      <input type="range" multiple min="0" step="1" max="10" data-values="1 9">
    </div>
    <div class="product-box__brand">
      <h2>Brand</h2>
      <ul>
        <li><a href="#">Áo</a></li>
        <li><a href="#">Áo</a></li>
        <li><a href="#">Áo</a></li>
        <li><a href="#">Áo</a></li>
        <li><a href="#">Áo</a></li>
      </ul>
    </div>
    <div class="product-box__availability">
      <h2>Availability</h2>
      <ul>
        <li><a href="#">In stock</a></li>
        <li><a href="#">Out of stosck</a></li>
      </ul>
    </div>
    <div class="product-box__tag">
      <h2>Tags</h2>
      <div class="product-box__box-tag">Design</div>
      <div class="product-box__box-tag">Save</div>
      <div class="product-box__box-tag">Simple</div>
      <div class="product-box__box-tag">Stock</div>
    </div>
  </div>
  <!--End / Product Box-->
{% endmacro %}
