{% macro render() %}
	<div class="col-lg-6">
		<ul class="menu">
			<li class="menu__list">
				<a class="menu__link">LOGO</a>
			</li>
			<li class="menu__list">
				<a class="menu__link">GENTLEMAN</a>
			</li>
			<li class="menu__list">
				<a class="menu__link">Belle Doll</a>
			</li>
			<li class="menu__list">
				<a class="menu__link">Amber.</a>
			</li>
			<li class="menu__list">
				<a class="menu__link">GLASSY</a>
			</li>
		</ul>
	</div>
  <div class="col-lg-6">
    <div class="menu__option">
      <i class="far fa-user"></i>
      <i class="fa-solid fa-right-left"></i>
      <i class="fa-regular fa-heart"></i>
      <i class="fas fa-shopping-cart"></i>
    </div>

  </div>

{% endmacro %}
