.nav {
  background-color: black;
}
.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 60px;
  background-color: black;
  list-style: none;
}
.menu__list {
  display: inline-block;
  border-right: 1px solid #FFFFFF;
  color: white;
}
.menu__link {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.menu__option {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.menu__option [class^="fa"] {
  margin-left: 10px;
  margin-right: 10px;
}
