{% import "../../shared/card/card.twig" as card %}
{% import "../../shared/category/category.twig" as category %}
{% import "../../shared/productBox/productBox.twig" as productBox %}
<section class="page-section--small" style="text-align: left;">
  <div class="container">
  <p class="direct">Home > <a href="#">Product</a></p>
  <p class="view-as">View as : <a href="#"><i class="far fa-list-alt"></i></a><a href="#"><i class="fas fa-th"></i></a> </p>
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          {% for item in productSection.product %}
            <div class="col-lg-4">
              {{card.render(item)}}
            </div>
          {% endfor %}
        </div>
        <div class="page-number">
          <a class="page-number__item--select" href="#">1</a>
          <a class="page-number__item" href="#">2</a>
          <a class="page-number__item" href="#">3</a>
          <a class="page-number__item" href="#"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        {{productBox.render(shopPage.productBox)}}

      </div>
    </div>
  </div>
</section>
