{% import "../../shared/insta/insta.twig" as insta %}

<section class="page-section--small">
	<div class="container">
		<h3 class="page-section__header">Instagram #NameIG</h3>
    <p class="insta__description">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur<br/> adipisci velit sed quia non numquam eius modi tempora incidunto.</p>
		<div class="row">
			<div class="col-lg-3">
				{{insta.render()}}
			</div>
			<div class="col-lg-3">
				{{insta.render()}}
			</div>
			<div class="col-lg-3">
				{{insta.render()}}
			</div>
			<div class="col-lg-3">
				{{insta.render()}}
			</div>
		</div>
	</div>
</section>
