{% macro render(category) %}
  <!--Category-->
  <div class="category">
    <a href="#"><img src={{category.srcImg}} alt="category"></a>
    <div class="category__title"><h3>{{category.name}}</h3></div>
    <div class="overlay"></div>
  </div>
  <!--End / Category-->
{% endmacro %}
