{% macro render(category) %}
  <div class="category">
    <img src={{category.srcImg}} alt="category">
    <div class="category__title"><h3 style="color: #fff">{{category.name}}</h3></div>
  </div>
{% endmacro %}
