.category {
  position: relative;
  width: 100%;
  height: 210px;
  overflow: hidden;
  padding: 15px 0px 15px 0px;
}
.category img {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.category__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}
