{% macro render(category) %}
  <!--Category-->
  <div class="category">
    <img src={{category.srcImg}} alt="category">
    <div class="category__title"><h3>{{category.name}}</h3></div>
  </div>
  <!--End / Category-->
{% endmacro %}
