.category {
  position: relative;
  width: 100%;
  height: 210px;
  overflow: hidden;
  padding: 15px 0px 15px 0px;
  z-index: 2;
  cursor: pointer;
}
.category:hover {
  filter: grayscale(51%);
}
.category:hover h3{
  text-decoration: underline;
}
.category img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.category__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  width: 100%;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}
