{% import "../../shared/gift/gift.twig" as gift %}

<section class="page-section" style="background-color: #FFE7D4;">
  <div class="container">
    <div class="row" >
      <div class="col-lg-3">
        {{gift.render()}}
      </div>
      <div class="col-lg-3">
        {{gift.render()}}
      </div>
      <div class="col-lg-3">
        {{gift.render()}}
      </div>
      <div class="col-lg-3">
        {{gift.render()}}
      </div>
    </div>
  </div>
</section>
