{% import "../../shared/card/card.twig" as card %}
<section class="page-section">
  <div class="container">
  <h3>Best Seller</h3>
    <div class="row">
      {% for item in bestSellerSection.product %}
        <div class="col-lg-3">
          {{card.render(item)}}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
