footer {
  min-height: 435px;
  background-color: var(--color-dark);
  padding: 60px;
  font-family: var(--font-secondary);
}
footer {
  color: var(--color-light);
}
.footer__title {
  font-family: 'Mali';
  font-weight: 700;
  font-size: 35px;
  line-height: 46px;
  padding-bottom: 20px;
}
.footer__heading {
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.footer__content {
  opacity: 0.7;
  padding-bottom: 20px;
}


.footer__input {
  display: flex;
  width: 236px;
  height: 40px;
  color: var(--color-dark);
  border: none;
}
.footer__input input {
  width: 162px;
  height: 38px;
  border: none;
  outline: none;
  display: inline-block;
}
.btn-join {
  width: 73px;
  height: 38px;
  font-size: 12px;
  font-weight: 600;
  background-color: #3540DF;
  color: var(--color-light);
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.btn-join div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.footer__about {
  height: 25px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer__about [class^="fa"] {
  margin-left: 10px;
  margin-right: 10px;
  color: #030C23;
  cursor: pointer;
  font-size: 18px;
}
.footer__about [class^="fa"]:hover {
  color: var(--color-light);
}
