{% macro render(data) %}
  <!--Footer-->
	{% if data.title %}
		<div class="nvd-footer__logo">{{data.title}}</div>
    <ul class="nvd-footer-list">
      <li class="nvd-footer-list__list"><a href="tel:+1234567890"" class="nvd-footer-list__link">Call Us: +123-456-7890</a></li>
      <li class="nvd-footer-list__list"><a href="mailto:Info@example.com" class="nvd-footer-list__link">Info@example.com</a></a></li>
      <li class="nvd-footer-list__list"> <a class="nvd-footer-list__link">Monday till Friday 10 to 6 EST</a></li>
    </ul>
	{% endif %}
	{% if data.heading %}
		<ul class="nvd-footer-list">
      <h3 class="nvd-footer-list__heading">{{data.heading}}</h3>
      {% for item in data.content %}
        <li class="nvd-footer-list__list"><a class="nvd-footer-list__link" href="#">{{item.name}}</a></li>
      {% endfor %}
    </ul>

	{% endif %}
	{% if data.input %}
		<div class="nvd-footer__input">
			<input placeholder="Email address" type="text">
			<div class="btn-join">
				<div>Join</div>
			</div>
		</div>
	{% endif %}
  {% if data.icon %}
    <div class="nvd-footer__about">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-wordpress"></i>
    </div>
  {% endif %}
  <!--End / Footer-->
{% endmacro %}
