{% import "../../shared/blog/blogItem.twig" as blogItem %}
{% import "../../shared/productBox/productBox.twig" as productBox %}
<section class="page-section--small" style="text-align: left;">
  <div class="direct">Home > <a href="#">Blog</a></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {% for item in blogContainer.blog %}
          {{blogItem.render(item)}}
        {% endfor %}
        <div class="page-number">
          <a class="page-number__item--select" href="#">1</a>
          <a class="page-number__item" href="#">2</a>
          <a class="page-number__item" href="#">3</a>
          <a class="page-number__item" href="#"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        {{productBox.render(blogContainer.productBox)}}
      </div>
    </div>
  </div>
</section>
