
.menu-mobile {
  margin: 0;
  padding: 15px 0px 15px 0px;
  list-style: none;
}

.menu-mobile__list {
  width: 100%;
}
.menu-mobile1 .menu-mobile__list:nth-last-child(1){
  border: none;
}
.menu-mobile__link--primary {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
  cursor: pointer;
  color: var(--color-light);
  text-align: center;
}
.menu-mobile__link--secondary {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  cursor: pointer;
  text-align: center;
}
.menu-mobile__option {
  height: 100%;
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
}
.menu-mobile__option [class^="fa"] {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.menu-mobile__search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px 0;
}
.menu-mobile__search {
  display: flex;
  width: 260px;
  height: 38px;
  color: black;
  border: 1px solid #DEDEE9;
}
.menu-mobile__search input {
  width: 220px;
  height: 35px;
  border: none;
  outline: none;
  display: inline-block;
  padding-left: 10px;
}
.btn-search {
  width: 38px;
  height: 36px;
  font-size: 22px;
  background-color: var(--color-dark);
  color: var(--color-light);
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.fa-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn-show {
  position: absolute;
  text-align: center;
  font-size: 30px;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 35px;
  cursor: pointer;
  z-index: 1000;
  background-color: var(--color-light);
}
