{% macro render(banner) %}
  <!--Blog-->
	<div class="blog">
    <img src="../../img/blog-img1.png" alt="Blog Img">
    <div class="blog__infor">
      <p><i class="far fa-clock"></i>Jan 3, 2022</p>
      <p><i class="fas fa-archive"></i>Tips & Tricks</p>
      <p><i class="fab fa-pied-piper-square"></i>Fashion, store, shopify</p>
    </div>
    <h1 class="blog__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
    <p class="blog__description">Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id efficitur ultrices, sapien mauris sodales...</p>
    <button class="btn__primary">Read More</button>
	</div>
  <!--End / Blog-->
{% endmacro %}
