{% macro render(data) %}
  <!--Blog-->
	<div class="blog">
    <img src={{data.srcImg}} alt="Blog Img">
    <div class="blog__infor">
      <p><i class="far fa-clock"></i>{{data.time}}</p>
      <p><i class="fas fa-archive"></i>Tips & Tricks</p>
      <p><i class="fab fa-pied-piper-square"></i>Fashion, store, shopify</p>
    </div>
    <h1 class="blog__title">{{data.title}}</h1>
    <p class="blog__description">{{data.description}}</p>
    <button class="btn__primary">Read More</button>
	</div>
  <!--End / Blog-->
{% endmacro %}
