
.page-section {
  position: relative;
  padding: 0px 60px 0px 60px;
  text-align: center;
}
.page-section--small {
  position: relative;
  padding: 30px 60px 10px 60px;
  text-align: center;
}

.page-section__header {
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
}
