{% import "../../shared/menu/menu.twig" as menu %}

<nav class="nav">
  <div class="container" >
    {% for item in menuSection %}
      <div class="row" style="background-color: {{item.bgColor}}">
        {{menu.render(item)}}
      </div>
    {% endfor %}
  </div>
</nav>
