{% import "../../shared/banner/banner.twig" as banner %}

<section class="nvd-banner-section" style="background-image: url(../../img/banner4.png);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{banner.render(bannerSection3.banner3)}}
      </div>
    </div>
  </div>
</section>
