.gift {
  display: flex;
  height: 84px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.gift i {
  padding-right: 15px;
  font-size: 20px;
}
